{% extends 'base.html.twig' %}

{% block title %}Page Profil{% endblock %}

{% block body %}

<p class="ml-3 ml-md-5">
    <a href="{{path('home')}}" class="btn btn-dark ml-lg-4">
        <i class="fas fa-arrow-circle-left"></i>
        Retour
    </a>
</p>

<div class="col-12 ">

    <div class="row col-12 col-md-11 mx-auto p-lg-0 d-flex justify-content-between">

        <div class="col-12 col-lg-11 p-0">

            <div class="card">

                <div class="card d-flex flex-row flex-wrap justify-content-around">{# Carte de visite #}

                    <div class="d-flex flex-column">{# picture & boutons modif#}
                        <div class="p-2">
                            <img src="{{ asset('uploads/images/'~ (candidateDatas.picture ?:'default-candidate.png')) }}"
                                style="width: 100px;height:100px;" class="mb-2 rounded-circle" />
                        </div>

                        <div class="p-2">

                            <a href= "{{ path("candidate_picture_edit", {"id": candidateDatas.id }) }}">
                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                            </a>
                            
                        </div>
                    </div>{# fin picture & boutons modif#}


                    <div class="d-flex flex-column ">{# nom prénon mail phone number & boutons modif#}

                        <div class="p-2 table-responsive">
                            
                            <table class="table">
                                <thead>{# titre de colonnes #}
                                    <tr>          
                                        <th scope="col" class="font-weight-bold h5">
                                        Informations Personnelles
                                            <a href= "{{ path("candidate_informations", {"id": app.user.id }) }}">
                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                            </a>
                                        </th>
                    
                                    </tr>
                                </thead>{# fin titre de colonnes #}
                                <tbody>
                                    <tr>
                                        <th>{{ app.user.lastname }} {{ app.user.firstname }}
                                        </th>
                                        </tr>
                                    <tr>
                                        <td>{{ app.user.email }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table">
                                <thead>{# titre de colonnes #}
                                    <tr>          
                                        <th scope="col" class="font-weight-bold h5">
                                        Carte de visite
                                            <a href= "{{ path("presentation_edit", {"id": candidateDatas.id }) }}">
                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>                              
                                    <tr>
                                        <td>
                                            <span class="font-weight-bold">téléphone:</span>
                                            {{ candidateDatas.phoneNumber }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="font-weight-bold">Visible par les recruteurs:</span>
                                                {% if candidateInformation.visibilityChoice == 0 %}
                                                    Nom et prénom
                                                {% elseif candidateInformation.visibilityChoice == 2 %}
                                                    Prénom uniquement
                                                {% else %}
                                                    Nom uniquement
                                                {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                                                       
                        </div>


                    </div> {# fin nom prénon mail phone number & boutons modif#}


                    

                        <div class="d-flex flex-column"> {# site web, statut recherche ou adopté & mobilities & boutons #}
                            <div class="p-2 table-responsive">
                                <table class="table">
                                    <tbody>
                                        {% for webSite in webSites %}
                                        <tr>
                                            <th><i class="fab fa-weebly"></i>
                                                <a href="{{webSite.link}}"> {{webSite.name}}</a>
                                            </th>
                                            <td>
                                                <a href= "{{ path("website_edit", {"id": webSite.id }) }}">
                                                     <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                </a>
                                                <a href= "{{ path("website_delete", {"id": webSite.id }) }}">
                                                    <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            <td class="font-weight-bold">Ajouter un site <i class="fab fa-weebly"></i>
                                            </td>
                                            <td>
                                                <a href= "{{ path("website_add") }}">
                                                     <button class="btn btn-light " id="" type="button"> <i class="fas fa-plus"></i></button>
                                                </a>
                                                
                                            </td>
                                        </tr>

                                        <tr>
                                            {% if candidateInformation.adopted == 1 %}
                                                <th class="text-success">
                                                    Adopté
                                            {% else %}
                                                <th class="text-danger"> En recherche d'alternance
                                            {% endif %}
                                                </th>
                                                <td>                                   
                                                    <a href= "{{ path("presentation_edit", {"id": visitCardId }) }}">
                                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                    </a>
                                                </td>
                                        </tr>

                                        
                                        {% if candidateInformation.adopted == 1 %}
                                        <tr> <th></th></tr>
                                                    
                                        {% else %}
                                        <tr>
                                            <th class="text-secondary font-italic"> Aux alentours de:
                                            </th>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {% for mobilityInfo in mobilitiesInfo %}
                                                    <p>{{mobilityInfo.townName}}, {{mobilityInfo.department.name}} </p>
                                                {% endfor %}
                                            </td> 
                                                                                         
                                            <td>
                                                {% for mobilityInfo in mobilitiesInfo %}
                                                    <p>
                                                        <a href= "{{ path("mobility_edit", {"id": mobilityInfo.id }) }}">
                                                            <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                        </a>
                                                        <a href= "{{ path("mobility_delete", {"id": mobilityInfo.id }) }}">
                                                            <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                        </a>
                                                    </p>
                                                {% endfor %}
                                            </td>                                                       
                                        </tr>
                                        <tr>
                                        
                                            <td>
                                            Ajouter une localité
                                            </td>
        
                                            <td>
                                                <p>
                                                    <a href= "{{ path("mobility_add")}}">
                                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-plus"></i></button>
                                                    </a>
                                                </p>
                                            
                                            </td>
                                        </tr>
                                            
                                        {% endif %}
                                    </tbody>
                                </table>

                                
                            </div>


                            
                            
                        </div> {# fin site web, statut recherche ou adopté &mobilities & boutons modif#}



                </div> {# Fin carte visite #}

                <div class="card accordion col-12 col-lg-12 p-0 " id="accordionExample"> {# Accordéon il m'ont vu #} {# Carte Ils ont vu votre prolfil #}
                     
                
                    <div class="card-header col-12 h5 mb-0 text-white text-center profil" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Ils ont vu votre profil!
                    </div>
            
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body d-md-flex flex-row flex-wrap justify-content-around">
                            {% for viewInfo in viewsInfo %}
                                <h3><span class="badge badge-pill badge-warning">{{ viewInfo.companyName}}</span></h3>                         
                            {% endfor %}
                        </div>
                    </div>
                
                   
                </div>{# fin accordéon #} {# fin Carte Ils ont vu votre prolfil #}

                <div class="card"> {# Carte About #}
                        <div class="card-header">
                                <h2 class="h5 mb-0 text-center text-secondary">
                                    A propos de moi
                                    <a href= "{{ path("presentation_edit", {"id": visitCardId }) }}">
                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                    </a>
                                    <a href= "{{ path("presentation_delete", {"id": visitCardId }) }}">
                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                    </a>
                                </h2>
                        </div>
                        <div class="card-body">
                            <p class="text-justify">
                                {{ candidateInformation.about}}
                            </p>
                        </div>
                        
                </div> {# Fin carte About #}


                {% for formationInfo in formationsInfo %}  {# Carte Alternace recherchée n'apparait que s'il y a une formation avec le statut 2 Pas de bouton add car 1 seul alternance possible à la fois#}                                    
                    {% if formationInfo.status == 2 %}
                        <div class="card"> {# Carte Alternace recherchée #}
                            <div class="card-header">
                                <h2 class="h5 mb-0 text-center text-secondary">
                                    Alternance recherchée
                                    <a href= "{{ path("apprenticeship_edit", {"id": formationInfo.id }) }}">
                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                    </a>
                                    <a href= "{{ path("apprenticeship_delete", {"id": formationInfo.id }) }}">
                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                    </a>
                                </h2>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                     <table class="table">
                                        <thead>{# titre de colonnes #}
                                            <tr class ="d-flex justify-content-center">
                                                <th scope="col" class="text-info d-flex col-4">
                                                Ajouter une formation en alternance
                                                </th>
                                                <th scope="col" class="text-info d-flex col-7">
                                                    <a href= "{{ path("apprenticeship_add") }}">
                                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-plus"></i></button>
                                                    </a>
                                                </th>                           
                                            </tr>
                                        </thead>{# fin titre de colonnes #}
                                        <tbody>
                                        <tr class ="d-flex justify-content-center">
                                            <th scope="row" class ="d-flex col-4">A partir du </th> 
                                            <td class ="d-flex col-7">{{ formationInfo.startedAt|date("m/d/Y")}}</td>                                                      
                                        </tr>
                                        <tr class ="d-flex justify-content-center">
                                            <th scope="row" class ="d-flex col-4">Jusqu'au </th> 
                                            <td class ="d-flex col-7">{{ formationInfo.endedAt|date("m/d/Y")}}</td>
                                        </tr>
                                        <tr class ="d-flex justify-content-center">
                                            <th scope="row" class ="d-flex col-4">Avec l'école</th> 
                                            <td class ="d-flex col-7">{{ formationInfo.school.name}}</td>
                                        </tr>
                                        <tr class ="d-flex justify-content-center">
                                            <th scope="row" class ="d-flex col-4">Pour obtenir le diplôme</th> 
                                            <td class ="d-flex col-7">{{ formationInfo.awardName}}</td>
                                        </tr>
                                        <tr class ="d-flex justify-content-center">
                                            <th scope="row" class ="d-flex col-4">De niveau</th> 
                                            <td class ="d-flex col-7">{{ formationInfo.awardLevel.name}}</td>
                                        </tr>                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> {# Fin carte Alternance recherchée #}
                    
                    {% endif %}
               {% endfor %}{# FIN Carte Alternace recherchée n'apparait que s'il y a une formation avec le statut 2#}

                

                    <div class="card"> {# Carte expériences si pas d'exp seul l'ajout d'exp possible#}
                        <div class="card-header">
                            <h2 class="h5 mb-0 text-center text-secondary">
                                Expériences
                            </h2>
                        </div>
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>{# titre de colonnes #}
                                            <tr class ="d-flex justify-content-center">
                                                <th scope="col" class="text-info d-flex col-3">
                                                Ajouter une expérience
                                                </th>
                                                <th scope="col" class="text-info d-flex col-3">
                                                    <a href= "{{ path("experience_add") }}">
                                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-plus"></i></button>
                                                    </a>
                                                </th>
                                                <th scope="col" class="d-flex col-4"></th>
                                                  <th scope="col" class="d-flex col-1"></th>
                                                    
                                            </tr>
                                        </thead>{# fin titre de colonnes #}
                                    </table>
                                </div>

                                {% for experienceInfo in experiencesInfo %}
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>{# titre de colonnes #}
                                                <tr class ="d-flex justify-content-center ">
                                                  <th scope="col" class="d-flex col-3 ">Période</th>
                                                  <th scope="col" class="d-flex col-3 ">Entreprise</th>
                                                  <th scope="col" class="d-flex col-4 ">Description</th>
                                                  <th scope="col" class="d-flex col-1 "></th>
                                                </tr>
                                            </thead>{# fin titre de colonnes #}
                                            <tbody>{# corps tableau exp #}
                                                <tr class ="d-flex justify-content-center">
                                                    <td class="d-flex col-3 ">
                                                    Du {{ experienceInfo.startedAt|date("m/d/Y")}}
                                                    {% if experienceInfo.endedAt == null %}
                                                    à aujourd'hui

                                                    {% else %}
                                                    au {{ experienceInfo.endedAt|date("m/d/Y")}}
                                                    {% endif %}

                                                    </td>
                                                    <td class="d-flex col-3">{{ experienceInfo.companyName}}</td>
                                                    <td class="d-flex col-4">{{ experienceInfo.description}}</td>

                                                    <td class="d-flex col-1">
                                                        <a href= "{{ path("experience_edit", {"id": experienceInfo.id }) }}">
                                                            <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                        </a>
                                                        <a href= "{{ path("experience_delete", {"id": experienceInfo.id }) }}">
                                                            <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                        </a>
                                                    </td>
                                                </tr>                                              
                                            </tbody>{# fin corps tableau exp #}
                                        </table>
                                    </div>
                                {% endfor %}
                            </div>

                    </div> {# Fin carte exp #}

                    <div class="card"> {# Carte compétences si pas de compétence seulement la possibilité d'ajouter #}
                        <div class="card-header">
                            <h2 class="h5 mb-0 text-center text-secondary">
                                Compétences
                            </h2>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                    <table class="table">
                                        <thead>{# titre de colonnes #}
                                            <tr class = "d-flex justify-content-center">
                                                <th scope="col" class="text-info d-flex col-6">
                                                Ajouter une compétence
                                                </th>
                                                <th class = "d-flex col-5">
                                                    <a href= "{{ path("experience_add") }}">
                                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-plus"></i></button>
                                                    </a>
                                                </th>
                                                                                          
                                            </tr>
                                        </thead>{# fin titre de colonnes #}
                                    </table>
                                </div>
                            
                            {% for skillInfo in skillsInfo %}
                                <div class="table-responsive">
                                    <table class="table ">                           
                                        <tr class = "d-flex justify-content-center">
                                            <td class = "d-flex col-6">
                                            {{skillInfo.name}}
                                            </td>
                                            <td class = "d-flex col-5">
                                                <a href= "{{ path("skill_edit", {"id": skillInfo.id }) }}">
                                                    <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                </a>
                                                <a href= "{{ path("skill_delete", {"id": skillInfo.id }) }}">
                                                    <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                </a>
                                            </td>
                                        </tr>                           
                                    </table>
                                </div>
                            {% endfor %}
                        </div>                        

                    </div> {# Fin carte compétences #}

                    <div class="card"> {# carte Atouts et centres d'intérêts si pas de donnée seulement la possibilité d'ajouter#}
                        <div class="card-header">
                            <h2 class="h5 mb-0 text-center text-secondary">
                                Atouts et centres d'intérêts
                            </h2>
                        </div>
                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>{# titre de colonnes #}
                                        <tr class = "d-flex justify-content-center">
                                            <th scope="col" class="text-info d-flex col-6">
                                            Ajouter un atout ou un centre d'intérêt
                                            </th>
                                            <th scope="col" class="d-flex col-5">
                                                <a href= "{{ path("asset_add") }}">
                                                    <button class="btn btn-light " id="" type="button"> <i class="fas fa-plus"></i></button>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>{# fin titre de colonnes #}
                                </table>
                            </div>
                            {% for additionalInfo in additionalsInfo %}
                                {% if additionalInfo.typeInfo == 'assert' %}
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>{# titre de colonnes #}
                                                <tr class = "d-flex justify-content-center">
                                                  <th class = "d-flex col-6" scope="col">Atouts</th>
                                                  <th class = "d-flex col-5"></th>
                                                </tr>
                                            </thead>{# fin titre de colonnes #}

                                            <tbody>{# corps tableau atouts#}                                
                                                <tr class = "d-flex justify-content-center">
                                                    <td class = "d-flex col-6">
                                                    {{additionalInfo.content}}
                                                    </td>
                                                    <td class = "d-flex col-5">
                                                        <a href= "{{ path("asset_edit", {"id": additionalInfo.id }) }}">
                                                            <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                        </a>
                                                        <a href= "{{ path("asset_delete", {"id": additionalInfo.id }) }}">
                                                            <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody> 
                                        </table>
                                    </div>         
                                {% else %}
                                {% endif %}
                                        
                            {% endfor %}

                            {% for additionalInfo in additionalsInfo %}
                                {% if additionalInfo.typeInfo == 'interest' %}
                                    <div class="table-responsive">
                                        <table class="table">

                                            <thead>{# titre de colonnes #}
                                                <tr class = "d-flex justify-content-center">
                                                  <th class = "d-flex col-6" scope="col">Centres d'intérêts</th>
                                                  <th class = "d-flex col-5"></th>
                                                </tr>
                                            </thead>{# fin titre de colonnes #}

                                            <tbody>{# corps tableau centres d'intérêts#}                                  
                                                <tr class = "d-flex justify-content-center">
                                                    <td class = "d-flex col-6">
                                                    {{additionalInfo.content}}
                                                    </td>
                                                    <td class = "d-flex col-5">
                                                        <a href= "{{ path("asset_edit", {"id": additionalInfo.id }) }}">
                                                            <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                        </a>
                                                        <a href= "{{ path("asset_delete", {"id": additionalInfo.id }) }}">
                                                            <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                                              
                                {% else %}
                                {% endif %}                                     
                            {% endfor %}
                               
                        </div>            

                    </div> {# Fin carte Savoirs-faire et centres d'intérêts #}

                </div>


                {# Lien retour #}
                <p>
                    <a href="{{path('home')}}" class="btn btn-dark">
                        <i class="fas fa-arrow-circle-left"></i>
                        Retour
                    </a>
                </p>
            </div>


        </div>

    </div>

</div>


    {% endblock %}