{% extends 'base.html.twig' %}

{% block title %} {{ tab_type }} un site {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/autocomplete.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    
    <div class="h5 my-4 text-center">{{ tab_type }} un site web</div>
    
    <div class="col-12 col-mg-6 col-lg-5 mx-auto my-3">
    
        <div class="my-3">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-secondary mb-2 p-2 col-8 d-block mx-auto">
                    Enregistrer
                </button>
            {{ form_end(form) }}
        </div>
    </div>

</div>

{% endblock %}