{% extends 'base.html.twig' %}

{% block title %}Page Profil{% endblock %}

{% block body %}

<p class="ml-3 ml-md-5">
    <a href="{{path('home')}}" class="btn btn-dark ml-lg-4">
        <i class="fas fa-arrow-circle-left"></i>
        Retour
    </a>
</p>

<div class="col-12 p-0 my-3">


    <div class="row col-12 col-md-11 mx-auto p-lg-0 d-flex justify-content-between">

        <div class="col-12 col-lg-8 p-0"> {# Carte de visite #}

            <div class="card">
                <div class="card-body">


                    <div class="row justify-content-start">
                        <div class="col-4">
                            <img src="{{ asset('uploads/images/'~ (candidateDatas.picture ?:'default-candidate.png')) }}"
                                style="width: 80px;height:80px;" class="mb-2" />
                            <div>
                                <button class="btn btn-light " id="" type="button"> Modifier</button>
                            </div>
                        </div>

                        <div class="col-4">
                            <p class=" text-secondary">
                                {{ app.user.lastname }} {{ app.user.firstname }}
                            </p>
                            <p class="text-secondary">
                                {{ app.user.email }}
                            </p>

                            <p class="text-secondary">
                                {{ candidateDatas.phoneNumber }}
                            </p>
                            <div>
                                <button class="btn btn-light " id="" type="button"> Modifier</button>
                            </div>
                        </div>
                        <div class="col-4">
                            <p class=" text-secondary">
                                
                            </p>
                            
                            <div>
                                <button class="btn btn-light " id="" type="button"> Modifier</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card"> {# Carte Alternace recherchée #}
                <div class="card-header">
                    <h2 class="h5 mb-0 text-center text-secondary">
                        Alternance recherchée
                    </h2>
                </div>
            </div> {# Fin carte Alternance recherchée #}

            <div class="card"> {# Carte About #}
                <div class="card-header">
                    <h2 class="h5 mb-0 text-center text-secondary">
                        A propos de moi
                    </h2>
                </div>
            </div> {# Fin carte About #}



            <div class="card"> {# Carte experience #}
                <div class="card-header">
                    <h2 class="h5 mb-0 text-center text-secondary">
                        Formations
                    </h2>
                </div>

            </div> {# Fin carte experience #}

            <div class="card"> {# Carte formation #}
                <div class="card-header">
                    <h2 class="h5 mb-0 text-center text-secondary">
                        Expériences
                    </h2>
                </div>

            </div> {# Fin carte Formation #}

            <div class="card"> {# Carte compétences #}
                <div class="card-header">
                    <h2 class="h5 mb-0 text-center text-secondary">
                        Compétences
                    </h2>
                </div>

            </div> {# Fin carte compétences #}

            <div class="card"> {# Carte compétences #}
                <div class="card-header">
                    <h2 class="h5 mb-0 text-center text-secondary">
                        Savoirs-faire et centres d'intéres
                    </h2>
                </div>

            </div> {# Fin carte compétences #}



            {# Lien retour #}
            <p>
                <a href="{{path('home')}}" class="btn btn-dark">
                    <i class="fas fa-arrow-circle-left"></i>
                    Retour
                </a>
            </p>

        </div> {# Fin des articles #}

        <div class="col-3 d-none d-lg-block p-0 aside"> {# ils m'ont vu #}
            <aside class="aside-absolute">


                <span class="list-group-item bg-light font-weight-bold">
                    Ils m'ont vu
                </span>
                <div class="aside-size">

                </div>


                <span class="list-group-item bg-light font-weight-bold">
                    En savoir plus sur l'alternances
                </span>
                <div class="aside-size">

                </div>


            </aside>
        </div> {# Fin #}
    </div>
</div>



{% endblock %}