{% extends 'base.html.twig' %}

{% block title %}Page Profil{% endblock %}

{% block body %}

<p class="ml-3 ml-md-5">
    <a href="{{path('home')}}" class="btn btn-dark ml-lg-4">
        <i class="fas fa-arrow-circle-left"></i>
        Retour
    </a>
</p>

<div class="col-12 ">

    <div class="row col-12 col-md-11 mx-auto p-lg-0 d-flex justify-content-between">

        <div class="col-12 col-lg-11 p-0">

            <div class="card">

                <div class="d-md-flex flex-row">{# Carte de visite #}

                    <div class="d-flex flex-column col-3">
                        <div class="p-2">
                            <img src="{{ asset('uploads/images/'~ (candidateDatas.picture ?:'default-candidate.png')) }}"
                                style="width: 100px;height:100px;" class="mb-2 rounded-circle" />
                        </div>

                        <div class="p-2">

                            <a href= "{{ path("about_edit", {"id": candidateDatas.id }) }}">
                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                            </a>
                            <a href= "{{ path("about_delete", {"id": candidateDatas.id }) }}">
                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                            </a>

                        </div>
                    </div>


                    <div class="d-flex flex-column col-5">

                        <div class="p-2">
                            {{ app.user.lastname }} {{ app.user.firstname }}

                            <a href= "{{ path("candidate_informations", {"id": app.user.id }) }}">
                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                            </a>
                            <a href= "{{ path("candidate_informations", {"id": app.user.id }) }}">
                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                            </a>


                        </div>

                        <div class="p-2">
                            {{ app.user.email }}

                            <a href= "{{ path("candidate_informations", {"id": app.user.id }) }}">
                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                            </a>
                            <a href= "{{ path("candidate_informations", {"id": app.user.id }) }}">
                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                            </a>

                        </div>

                        <div class="p-2">
                            {{ candidateDatas.phoneNumber }}
                            <a href= "{{ path("about_edit", {"id": candidateDatas.id }) }}">
                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                            </a>
                            <a href= "{{ path("about_delete", {"id": candidateDatas.id }) }}">
                            <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                            </a>
                        </div>


                    </div>


                    <div class="p-2">

                        <div class="d-flex flex-column">

                            <div class="p-2">

                                Site :
                                <a href="{{webSite.link}}"> {{webSite.name}}</a>

                                <a href= "{{ path("website_edit", {"id": webSite.id }) }}">
                                    <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                </a>
                                <a href= "{{ path("website_delete", {"id": webSite.id }) }}">
                                    <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                </a>
                            </div>


                            {% if candidateInformation.adopted == 1 %}
                                <div class="p-2 text-success">
                                    Adopté
                            {% else %}
                                <div class="p-2 text-danger"> En recherche d'alternance
                            {% endif %}

                                    <a href= "{{ path("about_edit", {"id": visitCardId }) }}">
                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                    </a>
                                    <a href= "{{ path("about_delete", {"id": visitCardId }) }}">
                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                    </a>
                                </div>
                                <span class="list-group-item bg-light font-weight-bold">
                        Ils m'ont vu
                    </span>
                            </div>

                        </div>



                    </div> {# Fin carte visite #}

                    <div class="card"> {# Carte Alternace recherchée #}
                        <div class="card-header">
                            <h2 class="h5 mb-0 text-center text-secondary">
                                Alternance recherchée
                            </h2>
                        </div>
                        <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                             
                                            {% for formationInfo in formationsInfo %}
                                            
                                        
                                                {% if formationInfo.status == 2 %}
                                                    <tr>
                                                        <th scope="row">A partir du </th> 
                                                        <td>{{ formationInfo.startedAt|date("m/d/Y")}}</td>
                                                        <td>
                                                            <a href= "{{ path("formation_edit", {"id": formationInfo.id }) }}">
                                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                            </a>
                                                            <a href= "{{ path("formation_delete", {"id": formationInfo.id }) }}">
                                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                            </a>
                                                        
                                                        <td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Jusqu'au </th> 
                                                        <td>{{ formationInfo.endedAt|date("m/d/Y")}}</td>
                                                        <td>
                                                            <a href= "{{ path("formation_edit", {"id": formationInfo.id }) }}">
                                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                            </a>
                                                            <a href= "{{ path("formation_delete", {"id": formationInfo.id }) }}">
                                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                            </a>
                                                        
                                                        <td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Aux alentours de </th> 
                                                        <td>
                                                            {% for mobilityInfo in mobilitiesInfo %}
                                                            <p>{{mobilityInfo.townName}}, {{mobilityInfo.department.name}} </p>
                                                            {% endfor %}
                                                        </td>                   
                                                        <td>
                                                            <button class="btn btn-light" id="" type="button"> <i class="fas fa-edit"></i></button>
                                                            <button class="btn btn-light" id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                        
                                                        <td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Avec l'école</th> 
                                                        <td>{{ formationInfo.school.name}}</td>
                                                        <td>
                                                            <a href= "{{ path("formation_edit", {"id": formationInfo.id }) }}">
                                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                            </a>
                                                            <a href= "{{ path("formation_delete", {"id": formationInfo.id }) }}">
                                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                            </a>
                                                        <td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Pour obtenir le diplôme</th> 
                                                        <td>{{ formationInfo.awardName}}</td>
                                                        <td>
                                                            <a href= "{{ path("formation_edit", {"id": formationInfo.id }) }}">
                                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                            </a>
                                                            <a href= "{{ path("formation_delete", {"id": formationInfo.id }) }}">
                                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                            </a>
                                                        
                                                        <td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">De niveau</th> 
                                                        <td>{{ formationInfo.awardLevel.name}}</td>
                                                        <td>
                                                            <a href= "{{ path("formation_edit", {"id": formationInfo.id }) }}">
                                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                            </a>
                                                            <a href= "{{ path("formation_delete", {"id": formationInfo.id }) }}">
                                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                            </a>
                                                        
                                                        <td>
                                                    </tr>
                                                    {% endif %}
                                                
                                                {% endfor %}
                                            
                                        </tbody>
                                    </table>
                                </div>
                    </div> {# Fin carte Alternance recherchée #}

                    <div class="card"> {# Carte About #}
                        <div class="card-header">
                                <h2 class="h5 mb-0 text-center text-secondary">
                                    A propos de moi
                                    <a href= "{{ path("about_edit", {"id": visitCardId }) }}">
                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                    </a>
                                    <a href= "{{ path("about_delete", {"id": visitCardId }) }}">
                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                    </a>
                                </h2>
                        </div>
                            <div class="card-body">
                                <p class="text-justify">
                                    {{ candidateInformation.about}}
                                </p>

                            </div>
                        
                    </div> {# Fin carte About #}



                    <div class="card"> {# Carte formation#}
                        <div class="card-header">
                            <h2 class="h5 mb-0 text-center text-secondary">
                                Formations
                            </h2>
                        </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>{# titre de colonnes #}
                                            <tr>
                                                <th scope="col"></th>
                                                    {% for formationInfo in formationsInfo %}
                                                        <th scope="col">
                                                            <a href= "{{ path("formation_edit", {"id": formationInfo.id }) }}">
                                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                            </a>
                                                            <a href= "{{ path("formation_delete", {"id": formationInfo.id }) }}">
                                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                            </a>
                                                        </th>
                                                    {% endfor %}
                                            </tr>
                                        </thead>{# fin titre de colonnes #}
                                        <tbody>
                                          <tr> {#Nom de l'école#}
                                            <th scope="row">Ecole
                                            </th> 
                                                {% for formationInfo in formationsInfo %}
                                                    <td>{{ formationInfo.school.name}}
                                                    </td>                          
                                                {% endfor %}
                                        </tr>
                
                                        <tr> {#Intitulé du diplôme#}
                                            <th scope="row">Diplôme
                                            </th>
                                                {% for formationInfo in formationsInfo %}
                                                    <td>{{ formationInfo.awardName}}
                                                    </td>
                                            {% endfor %}
                                        </tr>

                                        <tr>{#Niveau du diplôme#}
                                            <th scope="row">Niveau scolaire</th>
                                                {% for formationInfo in formationsInfo %}
                                                    <td>{{ formationInfo.awardLevel.name}}
                                                    </td>       
                                            {% endfor %}
                                          </tr>

                                          <tr>{#Date obtention diplôme OU formation toujours en cours#}
                                            <th scope="row">Date d'obtention du diplôme</th>
                                            {% for formationInfo in formationsInfo %}
                                                {% if formationInfo.status == 0 %}
                                                <td>{{ formationInfo.obtainedAt|date("m/d/Y")}}</td>
                                                {% elseif formationInfo.status == 1 %}
                                                <td>en cours</td>
                                                {% elseif formationInfo.status == 2 %}
                                                <td>en cours et en recherche d'alternance</td>

                                                {% endif %}
                                            {% endfor %}
                                                
                                          </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                    </div> {# Fin carte formation #}

                    <div class="card"> {# Carte expériences #}
                        <div class="card-header">
                            <h2 class="h5 mb-0 text-center text-secondary">
                                Expériences
                            </h2>
                        </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>{# titre de colonnes #}
                                            <tr>
                                              <th scope="col">Période</th>
                                              <th scope="col">Entreprise</th>
                                              <th scope="col">Description</th>
                                              <th scope="col"></th>
                                            </tr>
                                        </thead>{# fin titre de colonnes #}
                                        <tbody>{# corps tableau exp #}
                                          
                                            {% for experienceInfo in experiencesInfo %}
                                            <tr>
                                                <td>
                                                Du {{ experienceInfo.startedAt|date("m/d/Y")}}
                                                {% if experienceInfo.endedAt == null %}
                                                à aujourd'hui
                                                
                                                {% else %}
                                                à {{ experienceInfo.endedAt|date("m/d/Y")}}
                                                {% endif %}
            
                                                </td>
                                                <td>{{ experienceInfo.companyName}}</td>
                                                <td>{{ experienceInfo.description}}</td>
                                               
                                                <td>
                                                    <a href= "{{ path("experience_edit", {"id": experienceInfo.id }) }}">
                                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                    </a>
                                                    <a href= "{{ path("experience_delete", {"id": experienceInfo.id }) }}">
                                                        <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>{# fin corps tableau exp #}

                                    </table>
                                </div>
                            </div>

                    </div> {# Fin carte Formation #}

                    <div class="card"> {# Carte compétences #}
                        <div class="card-header">
                            <h2 class="h5 mb-0 text-center text-secondary">
                                Compétences
                            </h2>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    {% for skillInfo in skillsInfo %}
                                    <tr>
                                        <td>
                                        {{skillInfo.name}}
                                        </td>
                                        <td>
                                            <a href= "{{ path("skill_edit", {"id": skillInfo.id }) }}">
                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                            </a>
                                            <a href= "{{ path("skill_delete", {"id": skillInfo.id }) }}">
                                                <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                            </a>
                                        </td>
                                    {% endfor %}
                                
                                </table>
                            </div>
                        </div>                        

                    </div> {# Fin carte compétences #}

                    <div class="card"> {# carte Atouts et centres d'intérêts #}
                        <div class="card-header">
                            <h2 class="h5 mb-0 text-center text-secondary">
                                Atouts et centres d'intérêts
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>{# titre de colonnes #}
                                        <tr>
                                          <th scope="col">Atouts</th>
                                          <th></th>
                                        </tr>
                                    </thead>{# fin titre de colonnes #}

                                    <tbody>{# corps tableau atouts#}
                                    {% for additionalInfo in additionalsInfo %}
                                        <tr>
                                        {% if additionalInfo.typeInfo == 'assert' %}
                                            <td>
                                            {{additionalInfo.content}}
                                            </td>
                                            <td>
                                                <a href= "{{ path("asset_edit", {"id": additionalInfo.id }) }}">
                                                    <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                </a>
                                                <a href= "{{ path("asset_delete", {"id": additionalInfo.id }) }}">
                                                    <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                </a>
                                            </td>          
                                        {% else %}
                                        {% endif %}
                                        
                                    {% endfor %}

                                    <thead>{# titre de colonnes #}
                                        <tr>
                                          <th scope="col">Centres d'intérêts</th>
                                          <th></th>
                                        </tr>
                                    </thead>{# fin titre de colonnes #}

                                    <tbody>{# corps tableau centres d'intérêts#}
                                    {% for additionalInfo in additionalsInfo %}
                                        <tr>
                                        {% if additionalInfo.typeInfo == 'interest' %}
                                            <td>
                                            {{additionalInfo.content}}
                                            </td>
                                            <td>
                                                <a href= "{{ path("asset_edit", {"id": additionalInfo.id }) }}">
                                                    <button class="btn btn-light " id="" type="button"> <i class="fas fa-edit"></i></button>
                                                </a>
                                                <a href= "{{ path("asset_delete", {"id": additionalInfo.id }) }}">
                                                    <button class="btn btn-light " id="" type="button"> <i class="fas fa-window-close"></i></button>
                                                </a>
                                            </td>          
                                        {% else %}
                                        {% endif %}
                                        
                                    {% endfor %}

                                </table>
                            </div>
                        </div>            

                    </div> {# Fin carte Savoirs-faire et centres d'intérêts #}

                </div>


                {# Lien retour #}
                <p>
                    <a href="{{path('home')}}" class="btn btn-dark">
                        <i class="fas fa-arrow-circle-left"></i>
                        Retour
                    </a>
                </p>
            </div>


        </div>

    </div>

</div>


    {% endblock %}