{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/message.css') }}">
{% endblock %}

{% block body %}

<div class="container col-12 col-md-9"> 

    {# row #}
    <div class="d-md-flex my-3">
        {# vos conversation #}
        <div class="col-md-4 border-right">
            <div class="text-center h5">Conversations</div>
            {% for contact in contacts %}
                <div class="border-bottom contact-list">
                    <span 
                        data-id="{{ contact.id }}"
                        class="d-block text-center py-2 rounded">
                        {{ contact.user.firstname }} {{ contact.user.lastname }}
                    </span>
                </div>
            {% endfor %}
            <div class="alert alert-danger flash-message mt-2 py-1 text-center d-none"></div>
        </div>

        {# affichage de la conversation cliqué #}
        <div class="col-md-6 my-2 ml-auto">
            <div class="message">
                {# {% for message in messages %} #}

                    {# {% if message.sendBy == false %} #}
                        <p class="rounded col-10 col-md-8 col-lg-6 py-2"> 
                            {# {{ message.content }} #}
                            <span class="d-block text-right font-italic" style="font-size:0.7rem;">
                                    {# le {{ message.sendAt|date("d/m/Y") }}
                                    à {{ message.sendAt|date("H:m") }} #}
                            </span>
                        </p>
                    {# {% endif %} #}
                
                {# {% endfor %} #}
            </div>
            {# {% if select != 0 %} #}
                <div class="form">
                    <form method="POST" class="d-none col-12" {# action="{{ path('message_send', {'id':select}) }}" #}>
                        <div class="form-group col-12 col-md-9">
                            <input class="form-control" placeholder="Votre réponse" />
                        </div>
                        <button type="submit" class="btn btn-primary col-md-3 h-75"> Envoyer </button>
                    </form>
                </div>
            {# {% endif %} #}
        </div>

    </div> {# Fin row #}
</div>{# Fin container #}

   
{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ asset('js/message.js') }}"></script>
{% endblock %}
