<h3>
    Prise de contact par {{email.recruiter}} recruteur au sein de l'entreprise {{email.companyName}}
</h3>

<p>{{email.subject|nl2br}}</p>


<p>{{email.text|nl2br}}</p>


<p>
    Vous pouvez contacter ce recruteur sur l'adresse suivante
    <a href="{{email.recruiterEmail}}">{{email.recruiterEmail}}
    </a>
</p>
<p>Ou en répondant directement à ce mail</p>

<p>Cordialement</p>

<p>L'équipe AdopteUnAlternant</p>