{% extends 'base.html.twig' %}

{% block title %}Je suis une entreprise{% endblock %}

{% block body %}
<div class="container ">
    <div class="row justify-content home-choice mt-3">

	
{#Essai 2 truc déroulant#}
    
        <div class=" col-md-12 ">
    
			<button class=" btn btn-light col-md-12 shadow mt-3 " data-toggle="collapse" href="#collapseList" role="button" aria-expanded="false" aria-controls="collapseList"> Ils recherchent une alternance
                        
                            <div class="collapse" id="collapseList">
                               
                            
                            <ul>
                                <select class="custom-select  mt-3" >
                                    <option selected>Trier les candidats selon:</option>
                                    <option value="1">Compétences</option>
                                    <option value="2">Diplôme</option>
                                    <option value="3">Ville</option>
                                </select>
                            {% for visitCard in visitCards %}
                                {% if visitCard.adopted == 0 %}
                                    {% if visitCard.visibilityChoice == 1 %}
                                        <li class="card text-center font-weight-bold">{{visitCard.isCandidate.user.lastname}} 
                                            <p><img src="{{ asset('uploads/images/'~ (visitCard.isCandidate.picture ?: 'default-candidate.png')) }}" style="width: 80px;height:80px;"/></p>
                                            <span class="text-danger">En recherche</span>
                                            <p class ="font-weight-light text-left">{{visitCard.about}}</p>
                                        </li>
                                    {% elseif visitCard.visibilityChoice == 2 %}
                                        <li class="card text-center font-weight-bold">{{visitCard.isCandidate.user.firstname}} {{visitCard.isCandidate.picture}}
                                            <p><img src="{{ asset('uploads/images/'~ (visitCard.isCandidate.picture ?: 'default-candidate.png')) }}" style="width: 80px;height:80px;"/></p>
                                            <span class="text-danger">En recherche</span>
                                            <p class ="font-weight-light text-left">{{visitCard.about}}</p>
                                        </li>

                                    {% else %}
                                        <li class="card text-center font-weight-bold">{{visitCard.isCandidate.user.firstname}} {{visitCard.isCandidate.user.lastname}} {{visitCard.isCandidate.picture}}
                                            <p><img src="{{ asset('uploads/images/'~ (visitCard.isCandidate.picture ?: 'default-candidate.png')) }}" style="width: 80px;height:80px;"/></p>
                                            <span class="text-danger">En recherche</span>
                                            <p class ="font-weight-light text-left">{{visitCard.about}}</p>
                                        </li>
                                    {% endif %}

                                {% elseif visitCard.adopted == 1 %}
                                    
                                    {% if visitCard.visibilityChoice == 1 %}
                                        <li class="card text-center font-weight-bold">{{visitCard.isCandidate.user.lastname}}
                                            <p><img src="{{ asset( (visitCard.isCandidate.picture ?: 'uploads/images/default-candidate.png')) }}" style="width: 80px;height:80px;"/></p>
                                            <span class="text-success">Déjà adopté</span>
                                            <p class ="font-weight-light">{{visitCard.about}}</p>
                                        </li>
                                    {% elseif visitCard.visibilityChoice == 2 %}
                                        <li class="card text-center font-weight-bold">{{visitCard.isCandidate.user.firstname}}
                                            <p><img src="{{ asset( (visitCard.isCandidate.picture ?: 'uploads/images/default-candidate.png')) }}" style="width: 80px;height:80px;"/></p>
                                            <span class="text-success">Déjà adopté</span>
                                            <p class ="font-weight-light">{{visitCard.about}}</p>
                                        </li>

                                    {% else %}
                                        <li class="card text-center font-weight-bold">{{visitCard.isCandidate.user.firstname}} {{visitCard.isCandidate.user.lastname}} 
                                            <p><img src="{{ asset( (visitCard.isCandidate.picture ?: 'uploads/images/default-candidate.png')) }}" style="width: 80px;height:80px;"/></p>
                                            <span class="text-success">Déjà adopté</span>
                                            <p class ="font-weight-light text-left">{{visitCard.about}}</p>
                                        </li>
                                    {% endif %}

                                {% endif %}


                            {% endfor %}
                            
                            </ul>   
                                
                            </div>
                
            </button>
	    </div>
    
		<div class="col-md-12">
			
                
            <button class="btn btn-light  col-md-12 shadow  mt-3" data-toggle="collapse" href="#collapseAlternance" role="button" aria-expanded="false" aria-controls="collapseAlternance">
                            En savoir plus sur l'alternance
                    
             
                <div class="collapse" id="collapseAlternance">
                           
            
                    <div class="card text-center mt-3">
                        <div class="card-body">
                            
                                    
                            {% for article in articles %}
                                {#{% if article.isStory == 0 %}#}
                            {#à modifier=> id par le slug quand on aura le slug#}
                                <a href="{{path('editorial')}}#{{article.slug}}" class="btn btn-light  col-md-12  mt-3 mb-3">
                                    
                                    {{article.title}}
                                    
                                </a>
                                {#{% else %}
                                {% endif %}#}



                            {% endfor %}
                            

                        </div>
		            </div>
                            
                </div>
            </button>
		
		</div>

	

		<div class="col-md-12">
			
                
                    <button class="btn btn-light  col-md-12 shadow  mt-3" data-toggle="collapse" href="#collapseTemoigne" role="button" aria-expanded="false" aria-controls="collapseTemoigne">
                            Ils témoignent...
                    
             
                        <div class="collapse" id="collapseTemoigne">
                           
            
                                <div class="card text-center mt-3">
                                    <div class="card-body">
                                   {% for article in articles %}
                                {#{% if article.isStory == 1 %}#}
                            {#à modifier=> id par le slug quand on aura le slug#}
                                <a href="{#{{path('app_controller_index')}}#}#{{article.id}}" class="btn btn-light  col-md-12  mt-3 mb-3">
                                    
                                    {{article.title}}
                                    
                                </a>
                                {#{% else %}
                                {% endif %}#}



                            {% endfor %}
                                    </div>
		                        </div>
                            
                        </div>
                    </button>
		
		</div>



		<div class="col-md-12 ">
			
                
                    <a href="#" class="btn btn-light  col-md-12 shadow  mt-3 mb-3">
                            Inscrivez-vous
                    
                    </a>
		
		</div>

   
    </div>
</div>

{% endblock %}
