{% extends 'base.html.twig' %}

{% block title %}Je suis une entreprise{% endblock %}

{% block body %}
<div class="container">

	
		<div class="col-md-12">
			<div class="card text-center shadow home-choice mt-3">
				<div class="card-body">
					<h5 class="card-title">Ils recherchent:</h5>
                    <ul>
                        <select class="custom-select  mt-3" >
                            <option selected>Trier les candidats selon:</option>
                            <option value="1">Compétences</option>
                            <option value="2">Diplôme</option>
                            <option value="3">Ville</option>
                        </select>
                    {% for visitCard in visitCards %}
                        {% if visitCard.adopted == 0 %}
                            {% if visitCard.visibilityChoice == 1 %}
                                <li class="card text-center font-weight-bold">{{visitCard.isCandidate.user.lastname}} 
                                    <p><img src="{{ asset( (visitCard.isCandidate.picture ?: 'uploads/images/default-candidate.png')) }}" style="width: 80px;height:80px;"/></p>
                                    <span class="text-danger">En recherche</span>
                                    <p class ="font-weight-light text-left">{{visitCard.about}}</p>
                                </li>
                            {% elseif visitCard.visibilityChoice == 2 %}
                                <li class="card text-center font-weight-bold">{{visitCard.isCandidate.user.firstname}} {{visitCard.isCandidate.picture}}
                                    <p><img src="{{ asset( (visitCard.isCandidate.picture ?: 'uploads/images/default-candidate.png')) }}" style="width: 80px;height:80px;"/></p>
                                    <span class="text-danger">En recherche</span>
                                    <p class ="font-weight-light text-left">{{visitCard.about}}</p>
                                </li>

                            {% else %}
                                <li class="card text-center font-weight-bold">{{visitCard.isCandidate.user.firstname}} {{visitCard.isCandidate.user.lastname}} {{visitCard.isCandidate.picture}}
                                    <p><img src="{{ asset( (visitCard.isCandidate.picture ?: 'uploads/images/default-candidate.png')) }}" style="width: 80px;height:80px;"/></p>
                                    <span class="text-danger">En recherche</span>
                                    <p class ="font-weight-light text-left">{{visitCard.about}}</p>
                                </li>
                            {% endif %}

                        {% elseif visitCard.adopted == 1 %}
                            
                            {% if visitCard.visibilityChoice == 1 %}
                                <li class="card text-center font-weight-bold">{{visitCard.isCandidate.user.lastname}}
                                    <p><img src="{{ asset( (visitCard.isCandidate.picture ?: 'uploads/images/default-candidate.png')) }}" style="width: 80px;height:80px;"/></p>
                                    <span class="text-success">Déjà adopté</span>
                                    <p class ="font-weight-light">{{visitCard.about}}</p>
                                </li>
                            {% elseif visitCard.visibilityChoice == 2 %}
                                <li class="card text-center font-weight-bold">{{visitCard.isCandidate.user.firstname}}
                                    <p><img src="{{ asset( (visitCard.isCandidate.picture ?: 'uploads/images/default-candidate.png')) }}" style="width: 80px;height:80px;"/></p>
                                    <span class="text-success">Déjà adopté</span>
                                    <p class ="font-weight-light">{{visitCard.about}}</p>
                                </li>

                            {% else %}
                                <li class="card text-center font-weight-bold">{{visitCard.isCandidate.user.firstname}} {{visitCard.isCandidate.user.lastname}} 
                                    <p><img src="{{ asset( (visitCard.isCandidate.picture ?: 'uploads/images/default-candidate.png')) }}" style="width: 80px;height:80px;"/></p>
                                    <span class="text-success">Déjà adopté</span>
                                    <p class ="font-weight-light text-left">{{visitCard.about}}</p>
                                </li>
                            {% endif %}

                        {% endif %}


                    {% endfor %}
                    
                    </ul>
						<a href="{{ path('entreprise_index') }}" class="btn btn-light">Retour</a>
				</div>
			</div>
		</div>
		
</div>

{% endblock %}
